grant codeBase "file:bin/*" {

  permission java.net.SocketPermission "10.101.148.4:23232", "connect, resolve";
  permission java.net.SocketPermission "*:1024-", "connect, resolve";

  permission java.io.FilePermission "${user.home}/-", "read, write";
  permission java.io.FilePermission "${user.dir}/-", "read, write";
  permission java.io.FilePermission "/", "read, write";
  permission java.io.FilePermission "/-", "read, write";
  
  permission java.util.PropertyPermission "user.dir", "read";
  permission java.util.PropertyPermission "javax.net.ssl.trustStore", "read, write";
  permission java.util.PropertyPermission "javax.net.ssl.trustStorePassword", "write, read";
  
};

grant codeBase "file:${java.home}/lib/ext/*" {
  permission java.security.AllPermission;
    
};
