
grant codeBase "file:bin/*" {

  permission java.net.SocketPermission "*:23232", "listen, resolve";
  permission java.net.SocketPermission "*:1024-", "accept, resolve";
  
  permission java.io.FilePermission "src/-", "read";
  permission java.io.FilePermission "${user.home}/-", "read, write, delete";
  permission java.io.FilePermission "${user.home}-", "write, read";
  permission java.io.FilePermission "${user.dir}/-", "read, write, delete";
  permission java.io.FilePermission "${user.dir}-", "write, read";
  
  permission java.util.PropertyPermission "user.dir", "read";
  permission java.util.PropertyPermission "javax.net.ssl.keyStore", "write";
  permission java.util.PropertyPermission "javax.net.ssl.keyStorePassword", "write, read";
  permission java.util.PropertyPermission "javax.net.ssl.keyStoreType", "write, read";
  
};
  
grant codeBase "file:${java.home}/lib/ext/*" {
  permission java.security.AllPermission;
    
};

